$font-size-lg: (
    v1: 1.875rem,
    v2: 1.25rem,
    v3: 1rem,
);

$font-size-md: (
    v1: 1.75rem,
    v2: 1.125rem,
    v3: .875rem,
);

$font-size-s: (
    v1: .625rem,
    v2: 1.0625rem,
    v3: .875rem,
);

$font-size-s: (
    v1: .625rem,
    v2: .875rem,
    v3: .625rem,
);