/*PALETA DE COLORES
Texto Header: #CEFF00
Fondo Header: #000000
Banner: #ffffff
Texto Main: #000000
Fondo Main: #ffffff
Texto Footer: #000000
Fondo Footer: #CEFF00
Contacto: #f5f5f5;
*/

$BackgroundPrincipal: #CEFF00;
$BackgroundSecundario: #000000;
/* Banners */
$TitulosBanners: #ffffff;
$FontSizeBanner: 40px;
$LineHeightBanner: 70px;
$ColorBanner: #ffffff;

/*Titulos*/
$FontSizeTituloSecundario: 30px;
$FontSizeParrafo:16px;
$ColorGeneral: #000000;
$ColorSecundario: #CEFF00;

