/*PALETA DE COLORES
Texto Header: #CEFF00
Fondo Header: #000000
Banner: #ffffff
Texto Main: #000000
Fondo Main: #ffffff
Texto Footer: #000000
Fondo Footer: #CEFF00
Contacto: #f5f5f5;
*/

$BackgroundPrincipal: #CEFF00;
$BackgroundSecundario: #000000;
$BackgroundTerciario: #f5f5f5;

/* Banners */
$FontSizeBanner: 2.5rem;
$LineHeightBanner: 4.375rem;
$ColorBanner: #ffffff;

/*Titulos*/
$ColorGeneral: #000000;
$ColorSecundario: #CEFF00;

