/* PAGINA - CONTACTANOS */

.formulario {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    width: 100%;
    height: 43.75rem;
    display: grid;
    grid-template-columns: repeat(4, 15.625rem);
    grid-template-rows: 9.375rem 5rem 12.5rem 3.125rem 9.375rem;
    grid-template-areas:
        "form-titulo form-titulo form-titulo form-titulo"
        "box-data box-data box-email box-email"
        "box-consulta box-consulta box-consulta box-consulta"
        "form-suscrip form-suscrip form-suscrip form-suscrip"
        "boton-enviar boton-enviar boton-enviar boton-enviar"
    ;
    justify-content: center;
    align-content: center;


    .form-titulo {
        background-color: $BackgroundPrincipal;
        grid-area: form-titulo;
        width: 100%;
        height: 100%;
        @include flex (row, center, center);
    }

    .box-data {
        background-color: $BackgroundPrincipal;
        grid-area: box-data;
        width: 100%;
        height: 100%;
        @include flex (column, center, center);
        gap: .625rem;
        padding: 0% 3.125rem;

        p {
            text-align: left;
            width: 18.75rem;
        }

        input {
            height: 2.5rem;
            width: 18.75rem;
        }
    }


    .box-email {
        background-color: $BackgroundPrincipal;
        grid-area: box-email;
        width: 100%;
        height: 100%;
        @include flex (column, center, center);
        gap: .625rem;
        padding: 0% 3.125rem;

        p {
            text-align: left;
            width: 18.75rem;
        }

        input {
            height: 2.5rem;
            width: 18.75rem;
        }
    }


    .box-consulta {
        background-color: $BackgroundPrincipal;
        grid-area: box-consulta;
        width: 100%;
        height: 100%;
        @include flex (column, center, center);
        gap: .625rem;
        padding: 0% 3.125rem;

        p {
            width: 43.75rem;
            text-align: left;
        }

        input {
            height: 9.375rem;
            width: 43.75rem;
        }
    }


    .form-suscrip {
        background-color: $BackgroundPrincipal;
        grid-area: form-suscrip;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: .625rem;
        padding: 0% 3.125rem;
    }

    .boton-enviar {
        background-color: $BackgroundPrincipal;
        grid-area: boton-enviar;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            font-family: 'Montserrat', sans-serif;
            background-color: $BackgroundSecundario;
            color: #ffffff;
            text-decoration: none;
            border: none;
            width: 8.125rem;
            height: 2.5rem;
            border-radius: .625rem;
        }

    }
}

.ubicacion {
    width: 100%;
    height: 21.875rem;
    display: grid;
    grid-template-columns: repeat(5, 12.0625rem);
    grid-template-rows: repeat(3, 6.25rem);
    grid-template-areas:
        "ubicacion-title ubicacion-title ubicacion-maps ubicacion-maps ubicacion-maps"
        "ubicacion-title ubicacion-title ubicacion-maps ubicacion-maps ubicacion-maps"
        "ubicacion-title ubicacion-title ubicacion-maps ubicacion-maps ubicacion-maps"
    ;
    justify-content: center;
    align-content: center;
    column-gap: .625rem;

    .ubicacion-title {
        font-family: 'Montserrat', sans-serif;
        background-color: $BackgroundSecundario;
        color: #ffffff;
        font-size: map-get($font-size-lg, v2);
        grid-area: ubicacion-title;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .ubicacion-maps {
        grid-area: ubicacion-maps;
        width: 100%;
    }
}