/* PAGINA - CONTACTANOS */

.formulario {
    font-family: 'Montserrat', sans-serif;
    color: $ColorGeneral;
    height: 43.75rem;
    display: grid;
    grid-template-columns: repeat(4, 15.625rem);
    grid-template-rows: 9.375rem 5rem 12.5rem 3.125rem 6.25rem;
    grid-template-areas:
        "form-titulo form-titulo form-titulo form-titulo"
        "box-data box-data box-email box-email"
        "box-consulta box-consulta box-consulta box-consulta"
        "form-suscrip form-suscrip form-suscrip form-suscrip"
        "boton-enviar boton-enviar boton-enviar boton-enviar"
    ;
    justify-content: center;
    align-content: center;
}

.form-titulo {
    background-color: $BackgroundPrincipal;
    grid-area: form-titulo;
    width: 100%;
    height: 100%;
    @include flex (row, center, center);

    h2 {
        font-size: map-get($font-size-lg, v1);

        strong {
            font-weight: bolder;
        }
    }
}

.box-data {
    background-color: $BackgroundPrincipal;
    grid-area: box-data;
    width: 100%;
    height: 100%;
    @include flex (column, center, center);
    gap: .625rem;

    p {
        text-align: left;
        width: 18.75rem;
    }

    input {
        font-family: 'Montserrat', sans-serif;
        font-size: map-get($font-size-lg, v3);
        Color: $ColorGeneral;
        height: 2.5rem;
        width: 18.75rem;
    }
}

.box-email {
    background-color: $BackgroundPrincipal;
    grid-area: box-email;
    width: 100%;
    height: 100%;
    @include flex (column, center, center);
    gap: .625rem;

    p {
        text-align: left;
        width: 18.75rem;
    }

    input {
        font-family: 'Montserrat', sans-serif;
        font-size: map-get($font-size-lg, v3);
        Color: $ColorGeneral;
        height: 2.5rem;
        width: 18.75rem;
    }
}

.box-consulta {
    background-color: $BackgroundPrincipal;
    grid-area: box-consulta;
    width: 100%;
    height: 100%;
    @include flex (column, center, center);
    gap: .625rem;

    p {
        width: 50rem;
        text-align: left;
    }

    textarea {
        height: 9.375rem;
        width: 50rem;
        font-family: 'Montserrat', sans-serif;
        font-size: map-get($font-size-lg, v3);
        Color: $ColorGeneral;
    }
}

.form-suscrip {
    background-color: $BackgroundPrincipal;
    grid-area: form-suscrip;
    width: 100%;
    height: 100%;
    @include flex (row, start, center);
    gap: .625rem;
    padding: 0% 6.25rem;
    p {
        font-size: map-get($font-size-lg, v3);
    }
}

.boton-enviar {
    background-color: $BackgroundPrincipal;
    grid-area: boton-enviar;
    font-size: map-get($font-size-lg, v3);
    width: 100%;
    height: 100%;
    @include flex (row, center, center);

    input {
        font-family: 'Montserrat', sans-serif;
        background-color: $BackgroundSecundario;
        font-size: map-get($font-size-lg , v3);
        color: #ffffff;
        text-decoration: none;
        border: none;
        width: 8.125rem;
        height: 2.5rem;
        border-radius: .625rem;
    }

    input:hover {
        background-color: #000000;
        box-shadow: 0 0 .3125rem #000000;
        transition: all 0.2s ease;
    }
}

.ubicacion {
    width: 100%;
    height: 21.875rem;
    display: grid;
    grid-template-columns: repeat(5, 12.0625rem);
    grid-template-rows: repeat(3, 6.25rem);
    grid-template-areas:
        "ubicacion-title ubicacion-title ubicacion-maps ubicacion-maps ubicacion-maps"
        "ubicacion-title ubicacion-title ubicacion-maps ubicacion-maps ubicacion-maps"
        "ubicacion-title ubicacion-title ubicacion-maps ubicacion-maps ubicacion-maps"
    ;
    justify-content: center;
    align-content: center;
    column-gap: .625rem;
}

.ubicacion-title {
    font-family: 'Montserrat', sans-serif;
    background-color: $BackgroundSecundario;
    color: #ffffff;
    font-size: map-get($font-size-lg, v1);
    grid-area: ubicacion-title;
    @include flex (row, center, center);
    text-align: center;

    strong {
        font-weight: border;
    }
}

.ubicacion-maps {
    grid-area: ubicacion-maps;
    width: 100%;
}