/* PAGINA - CIUDADANIA ITALIANA */

/* 1° - SECCION */
.intro-ciudadania {
    font-family: 'Montserrat', sans-serif;
    color: $ColorGeneral;
    height: 25rem;
    margin: 0% 9.375rem;
    @include flex (row, space-between, center);

    article:nth-child(1) {
        width: 23.75rem;
        height: 100%;

        img {
            width: 23.75rem;
            height: 25rem;
        }
    }

    article:nth-child(2) {
        width: 34.375rem;
        height: 100%;
        padding: .625rem;
        @include flex (column, center, start);

        h2 {
            font-size: map-get($font-size-lg, v1);
            font-style: italic;

            strong {
                font-style: normal;
                font-weight: bolder;
            }
        }

        p {
            font-size: 1.125rem;
            line-height: 1.375rem;
            padding-top: 1.875rem;
            text-align: justify;
        }
    }
}


/* 2° - SECCION */

.contenido-ciudadania {
    font-family: 'Montserrat', sans-serif;
    color: $ColorGeneral;
    width: 100%;
    height: 37.5rem;
    margin-top: 3.125rem;

    article:nth-child(1) {
        height: 30%;
        width: 100%;
        @include flex (column, center, center);

        h2 {
            font-size: map-get($font-size-lg, v1);
            width: 100%;
            text-align: center;

            strong {
                font-weight: bolder;
            }
        }

        p {
            font-size: map-get($font-size-lg, v3);
            line-height: 1.25rem;
            height: 70%;
            margin: 1.25rem 9.375rem;
            text-align: justify;

            strong {
                @include flex (row, center, center);
            }
        }
    }

    article:nth-child(2) {
        height: 70%;
        width: 100%;
        @include flex (row, center, center);
        gap: 4.375rem;


        div:nth-child(1) {
            width: 33%;
            height: 90%;
            @include flex (column, start, center);

            h3 {
                width: 100%;
                height: 3.125rem;
                background-color: $BackgroundPrincipal;
                font-size: map-get($font-size-lg , v2);
                text-align: center;
                @include flex (row, center, center);

                strong {
                    font-weight: bolder;
                }
            }

            p {
                font-size: map-get($font-size-lg, v3);
                line-height: 1.25rem;
                text-align: justify;
                padding-top: 1.25rem;
                @include flex (row, center, center);
            }
        }

        div:nth-child(2) {
            width: 33%;
            height: 90%;
            @include flex (column, start, center);

            h3 {
                width: 100%;
                height: 3.125rem;
                background-color: $BackgroundPrincipal;
                font-size: map-get($font-size-lg, v2);
                text-align: center;
                @include flex (row, center, center);

                strong {
                    font-weight: bolder;
                }
            }

            p {
                font-size: map-get($font-size-lg, v3);
                line-height: 1.25rem;
                text-align: justify;
                padding-top: 1.25rem;
            }
        }
    }
}



/* 3° - SECCION */

.contenido-final {
    font-family: 'Montserrat', sans-serif;
    color: $ColorGeneral;
    height: 12.5rem;
    padding: 0% 9.375rem;
    width: 100%;
    @include flex (column, start, center);

    h3 {
        font-size: map-get($font-size-lg, v2);
        width: 100%;
        height: 3.125rem;
        background-color: $BackgroundTerciario;
        text-align: center;
        @include flex (row, center, center);
        
        strong {
            font-weight: bolder;
        }
    }

    p {
        font-size: map-get($font-size-lg, v3);
        line-height: 1.25rem;
        text-align: justify;
        margin-top: .625rem;
    }
}