/* PAGINA - GUIA PASO A PASO */
main {
    color: $ColorGeneral;
    font-family: 'Montserrat', sans-serif;

    div {
        width: 100%;
        @include flex (row, center, center);

        img {
            width: 25%;
            height: 21.25rem;
        }
    }
}

.guia {
    @include flex (column, center, center);

    h1 {
        position: absolute;
        color: $ColorSecundario;
        top: 28.25rem;
        font-size: 9.375rem;
    }

    h2 {
        position: relative;
        margin-top: 3.75rem;
        font-size: map-get($font-size-lg, v1);
        justify-self: start;
        text-align: center;

        strong {
            font-weight: bolder;
        }
    }

    p {
        margin-top: 2.5rem;
        font-size: map-get($font-size-lg, v3);
        line-height: 1.25rem;
        text-align: justify;
        padding: 0% 9.375rem;
    }
}

.guia-1-etapa {
    margin: 3.125rem 9.375rem;
    gap: 1.25rem;

    span {

        h3 {
            font-size: map-get($font-size-lg, v2);
            background-color: $BackgroundPrincipal;
            width: 40%;
            height: 3.125rem;
            @include flex(row, center, center);

            strong {
                font-weight: bolder;
            }
        }
    }
}

.part-1 {
    width: 100%;
    height: 17.5rem;
    @include flex(row, center, center);
    gap: 1.875rem;
    font-size: map-get($font-size-lg, v3);
    line-height: 1.25rem;

    div:nth-child(1) {
        width: 50%;
        height: 100%;
        padding: 1.875rem 1.25rem;
        gap: 1.25rem;
        @include flex(row, center, start);

        img {
            width: 3.125rem;
            height: 3.125rem;
        }
    }

    div:nth-child(2) {
        width: 50%;
        height: 100%;
        padding: 1.875rem 1.25rem;
        gap: 1.25rem;
        @include flex(row, center, start);

        img {
            width: 3.125rem;
            height: 3.125rem;
        }
    }
}

.card-texto {
    height: 100%;
    width: 21.875rem;
    padding: 0% .625rem;
    @include flex (column, start, start);
    gap: .625rem;

    h4 {
        font-size: map-get($font-size-lg, v3);

        strong {
            font-weight: bolder;
        }
    }

    p {
        font-size: map-get($font-size-lg, v3);
        line-height: 1.25rem;
        text-align: justify;
    }
}


.part-2 {
    @extend .part-1;
}


.guia-2-etapa {
    height: 25rem;
    margin: 1.25rem 0%;

    article:nth-child(1) {
        height: 20%;
        margin: 0% 9.375rem;

        h3 {
            width: 40%;
            height: 3.125rem;
            font-size: map-get($font-size-lg, v2);
            background-color: $BackgroundPrincipal;
            @include flex(row, center, center);

            strong {
                font-weight: bolder;
            }
        }
    }

    article:nth-child(2) {
        margin-top: 1.25rem;
        width: 100%;
        height: 80%;
        @include flex(column, center, center);
        gap: .5rem;

        span:nth-child(1) {

            img {
                width: 62.5rem;
                height: 1.0625rem;
            }
        }

        span:nth-child(2) {
            @include flex(row, none, none);
            gap: 1.0625rem;

            div:nth-child(1) {
                height: 8.75rem;
                width: 11.25rem;
                text-align: center;
                @include flex(column, center, center);
                gap: .3125rem;

                p {
                    font-size: map-get($font-size-lg, v3);

                    strong {
                        font-weight: bolder;
                    }
                }
            }

            div:nth-child(2) {
                height: 8.75rem;
                width: 11.25rem;
                text-align: center;
                @include flex(column, center, center);
                gap: .3125rem;

                p {
                    font-size: map-get($font-size-lg, v3);

                    strong {
                        font-weight: bolder;
                    }
                }
            }

            div:nth-child(3) {
                height: 8.75rem;
                width: 11.25rem;
                text-align: center;
                @include flex(column, center, center);
                gap: .3125rem;

                p {
                    font-size: map-get($font-size-lg, v3);

                    strong {
                        font-weight: bolder;
                    }
                }
            }

            div:nth-child(4) {
                height: 8.75rem;
                width: 11.25rem;
                text-align: center;
                @include flex(column, center, center);
                gap: .3125rem;

                p {
                    font-size: map-get($font-size-lg, v3);

                    strong {
                        font-weight: bolder;
                    }
                }
            }

            div:nth-child(5) {
                height: 8.75rem;
                width: 11.25rem;
                text-align: center;
                @include flex(column, center, center);
                gap: .3125rem;

                p {
                    font-size: map-get($font-size-lg, v3);

                    strong {
                        font-weight: bolder;
                    }
                }
            }

            div:nth-child(6) {
                height: 8.75rem;
                width: 11.25rem;
                text-align: center;
                @include flex(column, center, center);
                gap: .3125rem;

                p {
                    font-size: map-get($font-size-lg, v3);

                    strong {
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}